// - - - - - - - - - - - - - - - - - - -
// - - GLOBAL css

@charset "utf-8";

a {
  color: red;
}
html, body {
  height: 100vh;
  font-family: Avenir, Avenir-Light, Avenir-Book, Avenir-Roman, sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  line-height: 2.5rem;
  color: #fff;
}

p {
  margin: 1.8ch;
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;

}

.hidden { display: 'none'; }

.ReactModal__Body--open {
  position: fixed;
  overflow: hidden;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#wrapper {

  font-family: Avenir, Avenir-Light, Avenir-Book, Avenir-Roman, sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  color: #fff;

  .light-wrap {
    color: #000;
    .title { color: #000; }
    .subtitle-big { color: #000; }
    .subtitle-small { color: #000; }
    .list { color: #000; }
  }

  .dark-wrap {
    color: #fff;
    .title { color: #fff; }
    .subtitle-big { color: '#fff'; }
    .subtitle-small { color: '#fff !important'; }
    .list { color: #fff; }
  }

  .heero {
    color: #fff;
    .title { color: #fff; }
  }

  .title {
    font-family: "Avenir-Light", sans-serif;
    font-weight: 300;
    font-size: 2.3rem;
    line-height: 4.9rem;
    letter-spacing: -0.02ch;
    @media (min-width: 992px) {
      font-size: 5.6rem;
      line-height: 6.5rem;
    }
  }

  .title-small {
    font-family: "Avenir-Light", sans-serif;
    font-weight: 200;
    font-size: 3.6rem;
    line-height: 4.9rem;
    letter-spacing: -0.02ch;
    @media (min-width: 992px) {
      font-size: 4rem;
      line-height: 5.6rem;
    }
  }

  .subtitle-big {
    font-family: "Avenir-Book", sans-serif;;
    font-weight: 300;
    line-height: 3rem;
    letter-spacing: 0.05ch;
    font-size: 1.7rem;
  }

  .subtitle-small {
    font-family: "Avenir-Book", sans-serif;;
    font-weight: 300;
    line-height: 2rem;
    letter-spacing: 0.1ch;
    font-size: 1.4rem;
  }

  .list {
    font-family: "Avenir-Book", sans-serif;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 0.05ch;
    font-size: 1.7rem;
  }

  .caption {
    font-family: "Avenir-Medium", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2rem;
    letter-spacing: .2ch;
    text-transform: uppercase;
  }

  h1 {
    font-family: "Avenir-Light", sans-serif;
    font-weight: 400;
    line-height: 4.9rem;
    letter-spacing: 0ch;
    font-size: 3rem;

    @media (min-width: 992px) {
      font-size: 4.6rem;
    }
  }

  h2 {
    font-family: "Avenir-Light", sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.4rem;
    letter-spacing: 0.15ch;
    @media (min-width: 992px) {
      font-size: 5.1rem;
    }
  }

  h3 {
    font-family: "Avenir-Book", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.6rem;
    letter-spacing: 0.15ch;
  }

  h4 {
    font-family: "Avenir-Roman", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.6rem;
    letter-spacing: 0.15ch;
  }

  h5 {
    font-family: "Avenir-Roman", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.6rem;
    letter-spacing: 0.15ch;
  }

  h6 {
    font-family: "Avenir-Roman", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.6rem;
    letter-spacing: 0.15ch;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


#wrapper {
  h1 { padding-top: 2.5rem; }

  .light-wrap {
    // padding: 6rem 7rem 13rem;
    background: #fff;
    color: #000;
    display: flex;
    justify-content: center;
  }

  .dark-wrap {
    // height: 100% !important;
    color: #fff;
    a { background: none !important; }
  }

  .privacy-policy {
    padding: 60px;
    color: #000;
  }

  /*Vertical Sliding*/
  .slidingVertical{
    display: inline;
    text-indent: 8px;
  }
  .slidingVertical span{
    position: absolute;
    animation: topToBottom 6s linear infinite 0s;
    -ms-animation: topToBottom 6s linear infinite 0s;
    -webkit-animation: topToBottom 6s linear infinite 0s;
    color: #1990ff;
    opacity: 0;
  }
  .slidingVertical span:nth-child(2){
    animation-delay: 1s;
    -ms-animation-delay: 1s;
    -webkit-animation-delay: 1s;
  }
  .slidingVertical span:nth-child(3){
    animation-delay: 2s;
    -ms-animation-delay: 2s;
    -webkit-animation-delay: 2s;
  }
  .slidingVertical span:nth-child(4){
    animation-delay: 3s;
    -ms-animation-delay: 3s;
    -webkit-animation-delay: 3s;
  }
  .slidingVertical span:nth-child(5){
    animation-delay: 4s;
    -ms-animation-delay: 4s;
    -webkit-animation-delay: 4s;
  }

  /*topToBottom Animation*/
  @-moz-keyframes topToBottom{
    0% { opacity: 0; }
    5% { opacity: 0; -moz-transform: translateY(-50px); }
    10% { opacity: 1; -moz-transform: translateY(0px); }
    25% { opacity: 1; -moz-transform: translateY(0px); }
    30% { opacity: 0; -moz-transform: translateY(50px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
  }
  @-webkit-keyframes topToBottom{
    0% { opacity: 0; }
    5% { opacity: 0; -webkit-transform: translateY(-50px); }
    10% { opacity: 1; -webkit-transform: translateY(0px); }
    25% { opacity: 1; -webkit-transform: translateY(0px); }
    30% { opacity: 0; -webkit-transform: translateY(50px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
  }
  @-ms-keyframes topToBottom{
    0% { opacity: 0; }
    5% { opacity: 0; -ms-transform: translateY(-50px); }
    10% { opacity: 1; -ms-transform: translateY(0px); }
    25% { opacity: 1; -ms-transform: translateY(0px); }
    30% { opacity: 0; -ms-transform: translateY(50px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(.9);
  }
  70% {
    -webkit-transform: scale(1);
    box-shadow: 0 0 0 15px rgba(29,167,137, 0);
  }
  100% {
    -webkit-transform: scale(.9);
    box-shadow: 0 0 0 0 rgba(29,167,137, 0);
  }
}

blockquote {
  // background: #f9f9f9;
  // border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: .5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: .1em;
  margin-right: .25em;
  vertical-align: -.4em;
}
blockquote p {
  display: inline;
}
.fancy-underline {
  padding-bottom: .5rem;
  background: /* gradient can be an image */
   linear-gradient(
     to right,
     rgba(167, 249, 205,0) 0%,
     rgba(167, 249, 205,.35) 55%,
     rgba(167, 249, 205,.50) 80%,
     rgba(167, 249, 205,1) 100%
   )
   left
   bottom
   transparent
   no-repeat;
   background-size:100% .3rem ;/* if linear-gradient, we need to resize it */
}

div {
  &.is-loading {
      position: relative;
      pointer-events: none;
      opacity: 0.5;
      &:after {
          position: absolute;
          top: calc(50% - 2.5em);
          left: calc(50% - 2.5em);
          width: 5em;
          height: 5em;
          border-width: 0.25em;
      }
  }
}
