$primary-color: #fe8019;
$btn-default-bg: #000;
$btn-primary-bg: #fe8019;
$btn-primary-color: #444;
$link-color: #fe8019;
$text-color: #fff; // major text color
$text-color-secondary: #fff;
$layout-trigger-background: #fff;
$layout-trigger-background-light: #fff;
$layout-trigger-color: #000;
$layout-header-background: #000;
$layout-header-color: #000;
